{% extends 'base.html.twig' %}

 {% block title %}
     <h1 style="margin-bottom: 50px"> Crea una cuenta </h1>
 {% endblock %}

{% block body %}

<div style="padding: 200px">

    <h1 style="margin-bottom: 50px">Please sign in</h1>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-5>
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <label  for="inputEmail">Email</label>
    <input style="margin-bottom: 20px" type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label  for="inputPassword">Password</label>
    <input  style="margin-bottom:20px" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input  type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button style="margin-top:30px; font-size: 15px" class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>

   <div >
        ¿No tienes cuenta? <a href="{{ path("new_user") }}"> Crea una ahora </a>
        </div>

{% endblock %}
