{% extends 'base.html.twig' %}

    {% block body %}

        {% for message in app.flashes('success') %}
            <div class=" alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
        {% endfor %}

        <h2 style="text-align: center; font-size: 50px; margin: 70px 0 30px 0; color: #969595; font-weight: 700; " class="animate__animated animate__fadeInDown">Crypto List</h2>

                <div class="flex__container flex-row">
                    {% for item in cryptos %}

                        <div class="flex__box">
                            <div class="flex__item animate__animated animate__fadeIn">
                                <a href="{{path('search_crypto', {'id': item.id})}}"><img src="{{item.logoUrl}}" class="flex__img"> </a>
                                <h2> {{item.name}}</h2><span style="color:#949494; font-weight:200; font-size:13px;"> ({{item.symbol}}) </span>
                                <h2 style="color:#656565; font-weight: 400; font-size:20px"> {{item.price}}€ </h2>
                                <a class="btn btn-primary" href="{{path('search_crypto', {'id': item.id})}}">+ Info </a>
                            </div>
                         </div>

                    {% endfor %}



                </div>

    {% endblock %}